{erl_opts, [{parse_transform, lager_transform}]}.

%% cover {cover_enabled, true}.
{cover_print_enabled, true}.

%% xref
{xref_checks,[undefined_function_calls
             ,undefined_functions
             ,locals_not_used
             %,exports_not_used
             ,deprecated_function_calls
             ,deprecated_functions]}.
%% deps
{deps, [
    {lager, ".*", {git, "https://github.com/basho/lager.git", "dd267603e93e8babe9ef9164fc176b430d669431"}}
]}.
