#!/bin/sh
BASE_DIR=/Users/gatement/app/erl_concurrency_ser
NODE_NAME=ser01@local.com
erl +P 100000000 +Q 100000000 +K true -pa ${BASE_DIR}/deps/*/ebin ${BASE_DIR}/ebin \
    -config ${BASE_DIR}/sys \
    -name ${NODE_NAME} \
    -detached \
    -s erl_concurrency_ser
